@import "tailwindcss";
@import "tw-animate-css";
@import "preline/variants.css";
@source "../node_modules/preline/dist/*.js";


@layer utilities {
  .font-bitcount { font-family: var(--font-bitcount); }
  .font-susemono { font-family: var(--font-suse-mono); }
  .font-creepster { font-family: var(--font-creepster); }
  .font-henny-penny { font-family: var(--font-henny-penny); }
  .font-raleway { font-family: var(--font-raleway); }
  .font-ubuntu { font-family: var(--font-ubuntu); }
  .font-nosifer { font-family: var(--font-nosifer); }
  .font-serious { font-family: var(--font-serious); }
  .font-kablammo { font-family: var(--font-kablammo); }
  .font-griffy { font-family: var(--font-griffy); }
  .font-lacquer { font-family: var(--font-lacquer); }
  .font-obitron {font-family: var(--font-obitron);}
}

.nav-item {
    width: max-content
}
.nav-item::after {
    content: '';
    border-radius: 100px;
    height: 3px;
    width: 0;
    background-color: yellow;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.3s ease;
    box-shadow: 0 -2px 20px yellow
;
}

.nav-item:hover::after {
    width: 100%;
}


/* HTML: <div class="inverted-radius"></div> */
.inverted-radius {
  --r: 20px; /* the radius */
  --s: 10px; /* size of inner curve */
  --x: 30px; /* horizontal offset (no percentage) */
  --y: 30px; /* vertical offset (no percentage) */
  
  aspect-ratio: 1;
  background: oklch(87.9% 0.169 91.605) !important;
  border-radius: var(--r);
  --_m:/calc(2*var(--r)) calc(2*var(--r)) radial-gradient(#000 70%,#0000 72%);
  --_g:conic-gradient(at calc(100% - var(--r)) var(--r),#0000 25%,#000 0);
  --_d:(var(--s) + var(--r));
  mask:
    calc(100% - var(--_d) - var(--x)) 0 var(--_m),
    100% calc(var(--_d) + var(--y)) var(--_m),
    radial-gradient(var(--s) at 100% 0,#0000 99%,#000 calc(100% + 1px)) 
     calc(-1*var(--r) - var(--x)) calc(var(--r) + var(--y)),
    var(--_g) calc(-1*var(--_d) - var(--x)) 0,
    var(--_g) 0 calc(var(--_d) + var(--y));
  mask-repeat: no-repeat;
}

.box {
  --mask:
    radial-gradient(99.89px at 50% calc(100% - 140.4px),#000 99%,#0000 101%) calc(50% - 156px) 0/312px 100%,
    radial-gradient(99.89px at 50% calc(100% + 62.4px),#0000 99%,#000 101%) 50% calc(100% - 78px)/312px 100% repeat-x;
  -webkit-mask: var(--mask);
          mask: var(--mask);
}

/* Fade, blur, and scale effects */
/* .swiper {
  width: 80%;
  padding-top: 50px;
  padding-bottom: 50px;
} */

/* .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
} */

/* .swiper-slide img {
  display: block;
  width: 400px;
  height: 400px;
  object-fit: cover;
} */


